{% extends "testapp/base.html" %}


{% block body %}

<div class="col-9 offset-2">
 <h2>Here we provide different types of examination for technical enhancement</h2>
 <h3>Some of our courses are as follow</h3>
 <ul>
    <li>Python</li>
    <li>Java</li>
    <li>C</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>C++</li>
    <li>C#</li>
    <li>Djnago</li>
    <li>SQL</li>
    <li>Bootstrap</li>
    <li>Django Rest Framework</li>
    <li>Oracle</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>AWS</li>
    <li>Azure</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Windows</li>
    <li>Mac</li>

 </ul>
 <br>
   <p>ConductExam offers an integrated package of software applications for online exams, offline exams, 
    lab based exams, computer-based offline test software, centre-based exams, and many more. This 
    software can answer the teachers’ undying efforts and the moderators who are working towards 
    simplification and modernization of the exam techniques. ConductExam has already conducted
    innumerable exams throughout and has proved highly successful and simplified in campus placement,
    reducing human resources requirements and company officials’ cost implementation and workload.
    The results are highly reliable, quick, saves time and human resources.</p>


</div>
      
      
{% endblock body %}