{% extends "testapp/base.html" %}
{% load static %}


{% block body %}

<div class="col-9 offset-2">

    <img id='p' src="{% static 'image/8.png' %} " height='600px' alt="">

    <h1>Welcome to Java Exam Page</h1>
     
    <h4>There are certain rules for examination....</h4>

    <h2>Rules</h2>
    <p>
        <ul>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
        </ul>
    </p>
    <p>
        <h1> Most Asked Java Interview Questions </h1>
        <h2>Here are some of the most asked Java interview questions.</h2>
     <ul>
        <li>What is Java?</li>
        <li>Why is Java a platform independent language?</li>
        <li>What are the differences between C++ and Java?</li>
        <li>Why is Java not a pure object oriented language?</li>
        <li>List the features of the Java Programming language?</li>
        <li>What do you get in the Java download file?</li>
        <li>Explain JVM, JRE, and JDK.</li>
        <li>What is a ClassLoader?</li>
        <li>What are the Memory Allocations available in JavaJava?</li>
        <li>What are the differences between Heap and Stack Memory in Java?</li>
        <li>Now, let's discuss the key Java interview questions for freshers and their answers.</li>
    </ul>
            </p>



</div>
      
      
{% endblock body %}