{% extends "testapp/base.html" %}
{% load static %}


{% block body %}

<div class="col-9 offset-2">

    <img id='p' src="{% static 'image/7.jpg' %} " height='600px' alt="">
    <h1>Welcome to Python Exam Page</h1>

    <h4>There are certain rules for examination....</h4>

    <h2>Rules</h2>
    <p>
        <ul>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
            <li>Examination should be conducted on a regular basis.</li>
        </ul>
    </p>

   <h1>  Let us start by taking a look at some of the most frequently asked interview questions on Python & Django. </h1> 
   <p>
    <ul>
        <li>Q1. What is the difference between list and tuples in Python?</li>
        <li>Q2. What are the key features of Python?.</li>
        <li>Q3. What type of language is python?</li>
        <li>Q4. How is Python an interpreted language?.</li>
        <li>Q5. What is Django ORM?</li>
        <li>Q6. Can you name some companies that use Django?</li>
        <li>Q7. What is CRUD?</li>
        <li>Q8. What are models in Django?</li>
        <li>Q9. What are python modules?</li>
        <li>Q10. What are local variables and global variables in Python?</li>
        <li>What are the different model inheritance styles in Django?</li>
    </ul>
</p>

    
   
    
    
    
    
    
    
    
    



</div>
      
      
{% endblock body %}